{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Welcome</h1>
		<hr>
		<p>This is the newest, latest and greatest Keystone Js CMS.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>


	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quasi harum, distinctio
				 modi at amet nulla iusto placeat provident earum repudiandae, illo nemo ratione illum ipsa,
				  tenetur dolor quam? Molestiae.
			</p>
		</div>
		<div class="col-md-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quasi harum, distinctio
				 modi at amet nulla iusto placeat provident earum repudiandae, illo nemo ratione illum ipsa,
				  tenetur dolor quam? Molestiae.
			</p>
		</div>
		<div class="col-md-4">
			<h3>Lorem Ipsum</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quasi harum, distinctio
				 modi at amet nulla iusto placeat provident earum repudiandae, illo nemo ratione illum ipsa,
				  tenetur dolor quam? Molestiae.
			</p>
		</div>
	</div>
</div>
